{% extends 'base.html' %}

{% block title %}Registrarse{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<h2>Registrate</h2>
<form action="." method="POST">
    {% csrf_token %}
    <input type="text" id="id_username"  name="username" placeholder="Nombre de usuario/Alias"/>
    {{ form.username.errors }}
    <input type="text" id="id_first_name"  name="first_name" placeholder="Nombre/s"/>
    {{ form.first_name.errors }}
    <input type="text" id="id_last_name"  name="last_name" placeholder="Apellido/s"/>
    {{ form.last_name.errors }}
    <input type="text" id="id_email" name="email"  placeholder="Correo"/>
    {{ form.email.errors }}
    <input type="password" id="id_password"  name="password"  placeholder="Clave"/>
    {{ form.password.errors }}
    <button type="submit" class="btn btn-primary" value="submit">Registrarme</button><br />
    <ul class="errorlist"><strong>{{ message }}</strong></ul>
</form>
{% endblock %}
